<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601, Asia/Dhaka}) [%blue(%thread)] %highlight(%-5level) %yellow(%logger{16}) - line = %green(%line): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../${LOGS}/ea-service-backend.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%d{ISO8601, Asia/Dhaka} %thread %-5level %logger{16} - line = %line: %msg%n%throwable</Pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 3 MegaBytes -->
            <fileNamePattern>../${LOGS}/archived/ea-service-backend-%d{yyyy-MM-dd, Asia/Dhaka}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>3MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="LOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../${LOGS}/error-log/ea-service-backend-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../${LOGS}/archived/error-logs/ea-service-backend-error-%d{yyyy-MM-dd, Asia/Dhaka}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>3MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} |%-5level|%X{Slf4jMDCFilter.UUID}| %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="LOG_ERROR"/>
        </root>

        <logger name="com.datasoft.bkash.ea" level="debug" additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="LOG_ERROR"/>
        </logger>
    </springProfile>

    <springProfile name="production">
        <root level="info">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="LOG_ERROR"/>
        </root>
        <logger name="com.datasoft.bkash.ea" level="debug" additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="LOG_ERROR"/>
        </logger>
    </springProfile>

</configuration>
